---
import Layout from '../layouts/Layout.astro';
import Noticias from '../components/noticias.astro';
import { Image } from 'astro:assets';
---

<Layout title="Morbid Funeral">
	<main>
		<Noticias />
	</main>
</Layout>

<style>
	main{
		display: block;
	}
</style>