---
import { Image } from 'astro:assets'
import logoround from '../assets/decoracion/logoround.png'
---

<a href="#"><Image class="logoround" src={ logoround } alt="logo"></Image></a>

<style>
    	.logoround{
		width: 5em;
		height: 5em;
	}
</style>