---
import '@fontsource/unifrakturmaguntia';
---

<ul>
    <li><a href="/principal"><span class="capital">P</span>rincipal</a></li>
    <li><a href="/discografia"><span class="capital">D</span>iscografia</a></li>
    <li><a href="/historia"><span class="capital">H</span>istoria</a></li>
    <li><a href="/conciertos"><span class="capital">C</span>onciertos</a></li>
    <li><a href="/contacto"><span class="capital">C</span>ontacto</a></li>
</ul>

<style>
    ul{
        margin-top: 2.3em;
        margin-left: 2.5em;

    }
    ul li{
        list-style: none;
        position: relative;
        z-index: 2;
        padding-bottom: 1.7em;
    }

    .capital{
        font-family: 'UnifrakturMaguntia';
        font-size: 1.5rem;
    }

</style>